<div class="form-group">
  <div class="modal-header">
    <h3>Varauksen tiedot</h3>
    <p>HUOM! Kaikki kentät pakollisia</p>
    {{today}}
  </div>
 
  <div class="modal-body">
    <form ng-model="event" role="form" name="reservation" class="error-check">
      <div class="row modal-row form-group">
        <div class="col-md-2 modal-topic">
          <p>Kuvaus: </p>
        </div>
        <div class="col-md-6">
          <input
          type="text"
          class="form-control"
          ng-model="event.title"
          ng-required="true">
        </div>
      </div>

      <div class="row modal-row form-group">
        <div class="col-md-2 modal-topic">
          <p>Varaaja: </p>
        </div>
        <div class="col-md-6">
          <input
          type="text"
          class="form-control"
          ng-model="event.creator"
          ng-required="true" />
        </div>
      </div>

      <div class="row modal-row form-group">
        <div class="col-md-2 modal-topic">
          <p>Alkaa: </p>
        </div>
        <div class="col-md-6">
          <input
          type="date"
          name="eventStartsAt"
          class="form-control"
          ng-model="event.startsAt"
          ng-required="true"
          ng-change='checkDates(event.startsAt, event.endsAt)' />
        </div>
      </div>

      <div class="row modal-row form-group">
        <div class="col-md-2 modal-topic">
          <p>Loppuu: </p>
        </div>
        <div class="col-md-6">
          <input
          type="date"
          name="eventEndsAt"
          class="form-control"
          ng-model="event.endsAt"
          ng-required="true"
          ng-change='checkDates(event.startsAt,event.endsAt)' />
        </div>
      </div>

      <div class="alert-msg">
        <span class="error-msg" ng-show="reservation.eventEndsAt.$error.endDateError">Alkamispäivä ei voi olla loppumispäivän jälkeen</span>
      </div>

      <div class="text-center">
        <button class="btn btn-danger" ng-click="cancel()">
          Peruuta
        </button>
        <button class="btn btn-success" ng-disabled="reservation.$invalid" type='submit' ng-click="addReservation()">
          Tallenna
        </button>
      </div>
    </form>
  </div>  
</div>