<div class="jumbotron">
	<div class = "container">
		<h2>Korppoon mökin nykyiset varaukset</h2>

		<div class="pull-left event-button">
			<button type="button" class="btn btn-success" ng-click="openEvent()"><i class="glyphicon glyphicon-plus"></i> Lisää varaus</button>
		</div>

		<table class="table table-hover">
	  		<thead>
	  			<tr>
	  				<th>
	  					Varaus
	  				</th>
	  				<th>
	  					Tekijä
	  				</th>
	  				<th>
	  					Mistä
	  				</th>
	  				<th>
	  					Mihin
	  				</th>
	  			</tr>
	  		</thead>

	  		<tbody>
	  			<tr ng-repeat="reservation in reservations">
	  				<td>
	  					{{reservation.title}}
	  				</td>
	  				<td>
	  					{{reservation.creator}}
	  				</td>
	  				<td>
	  					{{reservation.startsAt| date:'dd.MM.yyyy'}}
	  				</td>
	  				<td>
	  					{{reservation.endsAt| date:'dd.MM.yyyy'}}
	  				</td>
	  				<td>
	  					<a tooltip="Poista varaus" href="/" ng-click="deleteReservation(reservation)"><i class="glyphicon glyphicon-trash"></i></a>
	  					<a tooltip="Muokkaa varausta" href="/"><i class="glyphicon glyphicon-pencil"></i></a>
	  				</td>
	  			</tr>
	  		</tbody>
		</table>
	</div>
</div>