<div class="jumbotron">
	<div class = "container">
		<h2>Korppoon mökin vanhat varaukset</h2>

		<table class="table table-hover">
	  		<thead>
	  			<tr>
	  				<th>
	  					Varaus
	  				</th>
	  				<th>
	  					Tekijä
	  				</th>
	  				<th>
	  					Mistä
	  				</th>
	  				<th>
	  					Mihin
	  				</th>
	  			</tr>
	  		</thead>

	  		<tbody>
	  			<tr ng-repeat="old_reservation in old_reservations">
	  				<td>
	  					{{old_reservation.title}}
	  				</td>
	  				<td>
	  					{{old_reservation.creator}}
	  				</td>
	  				<td>
	  					{{old_reservation.startsAt| date:'dd.MM.yyyy'}}
	  				</td>
	  				<td>
	  					{{old_reservation.endsAt| date:'dd.MM.yyyy'}}
	  				</td>
	  				<td>
	  					<a tooltip="Poista varaus" href="/" ng-click="deleteReservation(reservation)"><i class="glyphicon glyphicon-trash"></i></a>
	  				</td>
	  			</tr>
	  		</tbody>
		</table>
	</div>
</div>