body {
  padding-top: 70px;
  background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  min-width:400px;
  background-color: rgba(255, 255, 255, 0.7);
}

.text-center {
  padding-top: 20px;
}

.pull-left.event-button {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row.modal-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.alert-msg {
  text-align: center;
  padding-bottom: 10px;
}

.error-msg {
  color: red;
  font-weight: bold;
}

.error-check input.ng-invalid.ng-touched {
  border: 1px solid red;
}